<template>
    <div>
        <nav class="navbar fixed-top navbar-expand-sm navbar-dark bg-dark">
            <nuxt-link class="navbar-brand" to="/">
                <Logo :width="40" :height="40" />
            </nuxt-link>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                <li class="nav-item active">
                    <nuxt-link class="nav-link" to="/">Home</nuxt-link>
                </li>
                <li class="nav-item">
                    <nuxt-link class="nav-link" to="/browse">Browse</nuxt-link>
                </li>
                </ul>
            </div>
        </nav>
    </div>
</template>

<script>
import Logo from '~/components/Logo.vue'
export default {
    components: {
        Logo
    }
}
</script>

<style>
    .bg-dark {
        background: #000000 !important;
    }
</style>