<template>
    <div>
        <Header />
        <div class="top" :style="'background-image:url(' + img.url + ')'">
            <div class="container overlay pt-3">
                <h1 class="display-2">
                    {{ details.name }}
                </h1>
            </div>
        </div>
        <div class="container mt-5 mb-5">
            <p>
                {{ details.description }}
            </p>
        </div>
        <div class="container">
            <div class="row mx-md-n5">
                <div class="col px-md-5 image-row">
                    <img :src="columnImages.img1" alt="">
                </div>            
                <div class="col px-md-5 image-row">
                    <img :src="columnImages.img2" alt="">
                </div>                    
            </div>  
        </div>

        <div class="container mt-4">
            <h1>Stats</h1>
            <table class="table text-white">
                <tr>
                    <th>Temperament</th>
                    <td>{{ details.temperament }}</td>
                </tr>
                <tr>
                    <th>Adaptability</th>
                    <td>{{ details.adaptability }}</td>
                </tr>
                <tr>
                    <th>Origin</th>
                    <td>{{ details.origin }}</td>
                </tr>
                <tr>
                    <th>Life span</th>
                    <td>{{ details.life_span }}</td>
                </tr>
                <tr>
                    <th>Indoor</th>
                    <td>{{ details.indoor }}</td>
                </tr>
                <tr>
                    <th>Lap</th>
                    <td>{{ details.lap }}</td>
                </tr>
                <tr>
                    <th>Affection level</th>
                    <td>{{ details.affection_level }}</td>
                </tr>
                <tr>
                    <th>Child friendly</th>
                    <td>{{ details.child_friendly }}</td>
                </tr>
                <tr>
                    <th>Dog friendly</th>
                    <td>{{ details.child_friendly }}</td>
                </tr>
                <tr>
                    <th>Energy level</th>
                    <td>{{ details.energy_level }}</td>
                </tr>
                <tr>
                    <th>Gromming</th>
                    <td>{{ details.grooming }}</td>
                </tr>
                <tr>
                    <th>Health issues</th>
                    <td>{{ details.health_issues }}</td>
                </tr>
                <tr>
                    <th>Intelligence</th>
                    <td>{{ details.intelligence }}</td>
                </tr>
                <tr>
                    <th>Shedding level</th>
                    <td>{{ details.shedding_level }}</td>
                </tr>
                <tr>
                    <th>Social needs</th>
                    <td>{{ details.social_needs }}</td>
                </tr>
                <tr>
                    <th>Stranger friendly</th>
                    <td>{{ details.stranger_friendly }}</td>
                </tr>
                <tr>
                    <th>Vocalisation</th>
                    <td>{{ details.vocalisation }}</td>
                </tr>
                <tr>
                    <th>Experimental</th>
                    <td>{{ details.experimental }}</td>
                </tr>
                <tr>
                    <th>Hairless</th>
                    <td>{{ details.hairless }}</td>
                </tr>
                <tr>
                    <th>Natural</th>
                    <td>{{ details.natural }}</td>
                </tr>
                <tr>
                    <th>Rare</th>
                    <td>{{ details.rare }}</td>
                </tr>
                <tr>
                    <th>Rex</th>
                    <td>{{ details.rex }}</td>
                </tr>
                <tr>
                    <th>Suppressed tail</th>
                    <td>{{ details.suppressed_tail }}</td>
                </tr>
                <tr>
                    <th>Short legs</th>
                    <td>{{ details.short_legs }}</td>
                </tr>
                <tr>
                    <th>Hypoallergenic</th>
                    <td>{{ details.hypoallergenic }}</td>
                </tr>
            </table>
            <a class="button--green mb-4" target="_blank" :href="details.wikipedia_url">Learn more</a>
        </div>
    </div>
</template>


<script>

import axios from 'axios';
import Header from '~/components/Header';

export default {
    components: {
        Header
    },

    data() {
        return {
            details: {},
            img: {
                url: 'https://via.placeholder.com/500x250/000/FFF/?text=Cat+is+loading...'
            },
            columnImages: {
                img1: 'https://via.placeholder.com/500x250/000000/FFFFFF/?text=Cat+is+loading...',
                img2: 'https://via.placeholder.com/500x250/000000/FFFFFF/?text=Cat+is+loading...',
                img3: 'https://via.placeholder.com/500x250/000000/FFFFFF/?text=Cat+is+loading...'
            }
        }
    }, 
    mounted() {
        this.getDetails(this.$route.params.id);
    },

    methods: {
        getDetails: function(breedId) {
            let self = this; 
            axios.get('https://api.thecatapi.com/v1/images/search?breed_id='+breedId)
            .then(function (response) {
                let data = response.data;
                self.details = data[0].breeds[0];
                let {url, width, height} = data[0];
                self.img = {url};
            })
            .catch(function (error) {
            });

            for(let i = 1; i < 3; i++) {
                axios.get('https://api.thecatapi.com/v1/images/search?breed_id='+breedId)
                .then(function (response) {
                    let data = response.data;
                    let {url} = data[0];
                    self.columnImages['img' + i] = url;
                })
                .catch(function (error) {
                })
            }
        }
    },
}
</script>  

<style scoped>
    .top {
        background-size: cover;
        height: 35em;
        display: block;
        position: relative;
    }

    .container.overlay {
        position: absolute;
        bottom: 30px;
        text-decoration: overline;
        text-transform: lowercase;
        background: white;
        width: auto;
        color: black;
    }

    .image-row img{
        width: 100%;
    }
</style>