<template>
    <div>
        <Header />
        <div class="container mt-3">
            <h1>List of breeds</h1>
            <!-- <div class="card" style="width: 18rem;">
                <img src="" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div> -->
            <Logo v-if="loading" width="150" class="text-center" />
            <div class="row">
                <div class="col-sm-6 p-3" :key="breed.id" v-for="breed in breeds">
                    <h3 class="font-weight-bold">{{ breed.name }}</h3>
                    <p>
                        {{ breed.description }}
                    </p>
                    <nuxt-link class="button--grey" :to="{name: 'browse-id', params: {id: breed.id}}" prefetch>Learn more</nuxt-link>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

import axios from 'axios';
import { mapMutations } from 'vuex';
import Header from '~/components/Header';
import Logo from '~/components/Logo';

export default {

    components: {
        Header, Logo
    },

    // Load the cats before page loads
    // asyncData({}) {
    //     return axios.get('https://api.thecatapi.com/v1/breeds')
    //         .then(function (response) {
    //             return {
    //                 breeds: [response.data]
    //             }          
    //         })
    //         .catch(function (error) {
    //             console.log("Error has occured: " + error);
    //     });
    // },

    // Use vuex
    // computed: {
    //     breeds() {
    //         return this.$store.state.cats.breeds;
    //     }
    // },
    
    // Normal way, use local state

    data() {
        return {
            loading: true,
            breeds: []
        }
    },


    mounted() {
        this.getCats();
    }, 

    methods: {
        getCats: function() {
            let self = this;
            axios.get('https://api.thecatapi.com/v1/breeds')
            .then(function (response) {
                self.breeds = response.data;         
                self.loading = false; 
            })
            .catch(function (error) {
                console.log("Error has occured: " + error);
            })
        }
    },
}
</script>