<template>
  <div class="container">
    <div>
      <logo :width="240" :height="145" />
      <h1 class="title">
        Cattopedia
      </h1>
      <h2 class="subtitle">
        All about cats.
      </h2>
      <div class="links">
        <nuxt-link
          to="/browse"
          class="button--green"
          prefetch
        >
          Check it out 😸
        </nuxt-link>
        <a
          href="https://bitbucket.org/crzyzenn/nuxt-cats/"
          target="_blank"
          class="button--grey ml-3"
        >
          GitHub 📔
        </a>
      </div>
    </div>
  </div>
</template>

<script>
import Logo from '~/components/Logo.vue'

export default {
  components: {
    Logo
  }
}
</script>

<style scoped>
.container {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  font-family: 'Quicksand', 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  display: block;
  font-weight: 300;
  font-size: 100px;
  color: #35495e;
  letter-spacing: 1px;
}

.subtitle {
  font-weight: 300;
  font-size: 42px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.links {
  padding-top: 15px;
}
</style>
<style>
    html, body {
      background: black !important;
      color: white;
      font-family: 'Open Sans';
    }
</style>
